#include "apollo_macropad.dtsi"

/ {
    /* トラックボールの動作を監視するリスナーを定義 */
    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        status = "okay";
    };
};
