&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
        
        /* 必須項目の追加 */
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;  /* 高さ - 1 の値を設定します (32-1=31) */
    };
};

/* トラックボールの入力監視設定 */
/ {
    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };
};

/* SPIに接続されたPMW3610の定義 */
&pro_micro_spi {
    status = "okay";
    trackball: pmw3610@0 {
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&pro_micro 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; 
    };
};
