#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
        zmk,display = &oled;
    };

    physical_layout0: physical_layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&direct_transform>;
        keys
            = <&key_physical_attrs 100 100 100   0 0 0 0> // SW1 (右)
            , <&key_physical_attrs 100 100 100 100 0 0 0> // SW2 (右)
            , <&key_physical_attrs 100 100   0 200 0 0 0> // SW3 (左)
            , <&key_physical_attrs 100 100   0 300 0 0 0> // SW4 (左・EC12プッシュ)
            , <&key_physical_attrs 100 100 100 300 0 0 0> // SW5 (右下)
            ;
    };

    direct_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <2>;
        rows = <4>;
        map = <
            /* row 0 */           RC(0,1) // SW1
            /* row 1 */           RC(1,1) // SW2
            /* row 2 */ RC(2,0)           // SW3
            /* row 3 */ RC(3,0)   RC(3,1) // SW4(Enc), SW5
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // pin_1 -> SW1
            , <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // pin_2 -> SW2
            , <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // pin_3 -> SW3
            , <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // pin_4 -> SW4(EC12)
            , <&gpio1 0  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // pin_5 -> SW5
            ;
    };

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // D1
        b-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // D0
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
        triggers-per-rotation = <20>;
    };

    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        status = "okay"; 
        device = <&trackball>;
    };
};

/* OLED (I2C) 設定： chosenで指定しているので必須です */
&i2c0 {
    status = "okay";
    scl-pin = <10>; // D16 (P0.10)
    sda-pin = <9>;  // D10 (P0.09)

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        com-invdir;
        segment-remap;
    };
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,  // D18 (P1.15)
                    <NRF_PSEL(SPIM_MOSI, 0, 2)>, // D19 (P0.02)
                    <NRF_PSEL(SPIM_MISO, 0, 2)>; // 3-wire用共有
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 2)>,
                    <NRF_PSEL(SPIM_MISO, 0, 2)>;
            low-power-enable;
        };
    };
};

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio1 13 GPIO_ACTIVE_LOW>; // D15 (P1.13)

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // D14 (P1.11)
        cpi = <600>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
    };
};
