#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

// トラックボールの感度・方向設定
&trackball_listener {
    status = "okay";
    input-processors = <
                         // ボールの回転方向をApolloの取り付け向きに合わせて調整
                         &zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT | INPUT_TRANSFORM_X_INVERT)
                       >;
};

/ {
    behaviors {
        // エンコーダーをマウスホイールとして動作させる
        scroll_wheel: behavior_sensor_rotate_mouse_wheel {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 全機能を1レイヤーに集約
        default_layer {
            display-name = "Base";
            
            // エンコーダーの設定
            sensor-bindings = <&scroll_wheel>;
            
            // 5つの物理ボタンの割り当て（お好みに合わせて変更してください）
            // 左から順に: [左クリック] [右クリック] [中クリック] [戻る] [進む]
            bindings = <
                &mkp LCLK    &mkp RCLK    &mkp MCLK    &mkp MB4    &mkp MB5
            >;
        };
    };
};
