#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&trackball_listener {
    status = "okay";
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT | INPUT_TRANSFORM_X_INVERT)
    >;
};

/ {
    behaviors {
        scroll_wheel: behavior_sensor_rotate_mouse_wheel {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            sensor-bindings = <&scroll_wheel>;
            
            bindings = <
                &mkp RCLK    // SW1
                &mkp MCLK    // SW2
                &kp ESC      // SW3
                &mkp LCLK    // SW4 (EC12 Click)
                &kp ENTER    // SW5
            >;
        };
    };
};
